* {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.test {
    width: 500px;
    height: 100px;
    background-color: cadetblue;
}

.for-canvas{
    display:grid;
    place-items: center;

    width: 100vw;
    height: 100vh;
    background-color: brown;
}

#cnv {
    width: 700px;
    height: 700px;
    /*width: 100%;
    height: 100%;*/
    background: black;
}


